/*
	Name: BookCard
	Description: Responsive HTML5 vCard Template
	Version: 1.2.2
	Author: pixelwars
*/


/* --- 
MAIN STYLE FILE */

/* BASE */
html, body { width:100%; height:100%; }
body { overflow: hidden; -webkit-text-size-adjust:none; }
.safe-mod body { overflow: visible; overflow-x: hidden; }
.p-overlay-on body { overflow: visible; }
.p-overlay-on.safe-mod .main { display: none; }

a { color: #C25337; text-decoration: none; outline: none; }
a:hover { color: #C00; }

iframe { border: none; }
p,ul,ol { font-size:.875em; line-height:160%; }
ul { list-style: square; }
img { width:auto; max-width:100%; height:auto; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

.easing, #header nav ul a, .btn, .portfolio-nav a.button, .social li a, input,textarea, .media-box .mask, .cover h1, .cover h2, .cover h3, .rm-close span, .cover .widget-twitter .twitter-link:before, .latest-from-blog a, .more a, .post-pagination li a, .navigation a { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.easing-long { -webkit-transition: all 1.2s ease-out; -moz-transition: all 1.2s ease-out; -ms-transition: all 1.2s ease-out; -o-transition: all 1.2s ease-out; transition: all 1.2s ease-out; }
.center { text-align: center; }

/* -------------------------------------------- */
/* TYPOGRAPHY */
/* headings and paragraphs */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
h1 { font-size: 2.20em; margin: 0.8em 0 0.4em 0; }
h2 { font-size: 2.00em; margin: 1.0em 0 0.8em 0; }
h3 { font-size: 1.10em; margin: 1.0em 0 .6em 0; }
h4 { font-size: 1.00em; margin: 1.0em 0 .6em 0; }
h5 { font-size: 0.90em; margin: 1.0em 0 .8em 0; }
h6 { font-size: 0.85em; margin: 1.0em 0 .8em 0; }
p { margin: 1.2em 0; }


/* FONTS */
 
/* BODY */
body, input, textarea, select, button, input[type="button"], input[type="reset"], input[type="submit"]
{ font-family: Lato, Arial, serif; }

/* FONT AWESOME ICONS */
.fancy-ico:before, #fancybox-close:before, .icon, .icon:before, .portfolio-items .mask:before, #header ul li a:before, .widget-twitter .twitter-link:before, .widget-twitter ul li:before, .alert:before, .social li a.pinterest:before,  .social li a.instagram:before, .rm-close span:before { font-family: FontAwesome; font-weight: normal; text-align:left; font-style: normal; display: inline-block; text-decoration: inherit; }



/* ------------------------------------------ 
   ---------------------  LAYOUT */
.content { position:relative; padding: 2em; }
.content h2, .content h3 { margin: .4em 0 1.4em 0; text-align:center; }
.content h3 { margin: 2.2em 0 1.6em 0; }



/* ------------------------------------------ 
   ---------------------  SCROLLBAR */
.antiscroll-wrap { position:absolute; top:0; z-index:1; bottom:0; left:0; width:100%; overflow: hidden; }
.antiscroll-inner { overflow: scroll; width: 100%; height:100%; }
.antiscroll-inner::-webkit-scrollbar { width: 0; height: 0; }
.antiscroll-inner::scrollbar { width: 0; height: 0; }
.antiscroll-scrollbar { position: absolute; z-index: 3;
  background: gray;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
}
.antiscroll-scrollbar-shown { opacity: .3; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); }
.antiscroll-scrollbar-horizontal { height: 7px; margin-left: 2px; bottom: 2px; left: 0; }
.antiscroll-scrollbar-vertical { width: 7px; margin-top: 2px; right: 2px; top: 0; }
.antiscroll-scrollbar-vertical:active { opacity: .5; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }



/* ------------------------------------------ 
   ---------------------  HEADER */
#header { display: none; position:relative; z-index:1000; width:100%; text-align:center; }
#header:before, #header:after { content: " "; display: table; }
#header:after { clear: both; }

/* MOBILE NAV MENU */
#header nav { position:relative; z-index:1100; }
#header nav ul { position:relative; padding:0; margin:0; font-size:.9em; list-style: none; }
#header nav ul li { float:left; width: 25%; margin: 0 ; }
#header nav ul a { display:block; line-height:70px; font-size: 20px; text-align: center; color: #ddd;
  text-shadow: 0 2px rgba(0, 0, 0, 0.12);
  background: #303335;
  border-left: 1px solid #555;
  border-right: 1px solid #232428;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.05), -1px 0 rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.05);
  }
#header nav ul li:first-child a { border-left: none; } 
#header nav ul li:last-child a { border-right: none; } 
#header nav ul a:hover { color: #eee; background: #222; }
/* Menu Icons */
#header ul li:nth-child(1) a:before { content: "\f104"; } /* Home */
#header ul li:nth-child(2) a:before { content: "\f022"; } /* Resume */
#header ul li:nth-child(3) a:before { content: "\f0b1"; } /* Portfolio */
#header ul li:nth-child(4) a:before { content: "\f0e0"; } /* Contact */


/* ------------------------------------------ 
   ---------------------  RESUME PAGE */
.history-group { padding-top: 0.4em; }
.history-unit { position: relative; padding: 0.5em 0; }
.history-unit .work-desc { margin-left: 124px; position:relative; margin-left: 126px; }
.history-unit .work-desc h4 { margin-top: 0; }
.history-unit .work-desc h5 { margin:.2em 0 .4em; font-size: .8em; color: #999; }
.history-unit .work-desc h5:before { content: "→ "; display:inline-block; margin-right:6px; }
.history-unit .work-desc p { margin-top: 0.6em; }
.history-unit h4, .skill-unit h4 { margin-bottom:2px; font-weight:400; }
.history-unit h4.work-time { position:relative; z-index:100; float:left; margin-top: 0; min-width: 80px; text-align: center; font-size: 2.2em; font-family: 'Tulpen One', cursive; padding: 4px 10px; border: 1px solid #ddd; border-radius: 4px; }
.history-unit:before { content: ""; position:absolute; z-index:90; top: 66px; left:50px; bottom: 4px; border-left: 1px dashed #ccc; }
.history-unit:last-child:before { display: none; }

/* Skills progress bars */
.skill-group { padding: 0 0 1.2em 0; }
.skill-unit { padding-bottom: .2em; }
.bar { position:relative; width: 100%; }
.bar .progress { position:absolute; top:0; left:0; width:0; height:100%; border-radius: 4px; }
/* Skills progress bars */
.bar { height:6px; }
.bar .progress { background: #333; }

/* About text */
h4.about-text { text-align: center; font-size: 1.4em; line-height: 160%; padding: .3em 0; }
.label { display: inline-block; padding: 0 .4em; border-radius: 2px; }

/* Testimonials */
.testo-group { padding: .4em 0; }
.testo { padding: 0.5em 0 1em 0; }
.testo img { float: left; max-width: 80px; border-radius: 50%; box-shadow: 0 1px 0 #fff inset; }
.testo .text { position:relative; margin-left: 114px; padding:1em 1.6em; border-left: 2px solid #555; background-color: #fff; }
.testo .text:before { content:""; position:absolute; top:2em; right:100%; width: 0; height: 0; border-top: 12px solid #555; border-left: 16px solid transparent; }
.testo .text h4 { margin: 0; }
.testo .text h4 span { display: inline-block; margin-left: 1em; font-size: .8em; color: #888; }
.testo .text p { margin: .6em 0 0.2em 0; line-height: 150%; color: #555; }

/* Services */
.service { text-align: center; padding: .4em 0 1.6em 0; }
.service:after { content: ""; display: block; max-width: 10%; margin: 0 auto; border-bottom: 1px solid #ccc; }
.service:last-child:after { display: none; } 
.service i { font-size: 2.8em; color: #777; text-shadow: 0 1px 0 #fff; }
.service p { margin-top: .4em; }
.service h4 { margin-top: .8em; }

/* Button */
.launch { text-align: center; padding: 2.6em 0; }
.btn { padding: 20px 60px; letter-spacing: 1px; font-size: .9em; border-radius: 40px; }



/* ------------------------------------------ 
   ---------------------  CONTACT PAGE */
.contact-form { padding-top: 2em; margin-top: 30px; background:url(../images/bckg/letter-lines.png) left top repeat-x; background-size: 45px 5px; }
.map { margin-bottom:30px; }
.map iframe { width:100%; border-width:0; outline:none; height:180px; }
#contact-form fieldset { border:0; padding:0; }
.contact-form p { margin: .8em 0; }
.contact-form p:before, .contact-form p:after { content: " "; display: table; }
.contact-form p:after { clear: both; }
label.error { display:none !important; }
input, textarea { display:block; padding:10px; border:0; border-radius:0; outline:0; background: #fff; border: 1px solid #ddd; box-shadow: none; -webkit-box-shadow: none; -webkit-appearance: none; }
textarea { height:80px; }
input:focus, textarea:focus { border-color: #aaa; }
input.error ,textarea.error { border-color: #C33; }
.contact-form label { display:block; float: left; width: 30%; }
.contact-form input, .contact-form textarea { display:block; float: left; width: 70% !important; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box; }
.contact-form textarea { height: 100px; }
.contact-form input.submit { width:auto !important; margin-top: 1.2em; float:right !important; }
.stamp { position:relative; float:right; margin-right: 0.4em; width:114px; height:134px; background:url(../images/bckg/stamp.png) 0 0 no-repeat; }
.stamp:after { content:""; position:absolute; top:0; left:0; width: 100%; height:100%; background:url(../images/bckg/stamp-mask.png) 0 0 no-repeat; }
.stamp img { display: block; width:94px; height: 114px; position:absolute; top:10px; left:10px; }
.letter { padding-bottom: 1.2em; }
.letter-info { float: left; margin-left: .4em; }
.letter-info h4 { margin: .5em 0 0 0; font-size: 2.2em; line-height: 120%; font-family: 'Sacramento', cursive; }
.letter-info p { margin: 0; }
img.ajax-loader { display: none; float: left; margin-top:34px; }
/* Alert */
.alert { display: none; position: fixed; z-index:9900; top: 50%; left: 50%; margin: -80px 0 0 -80px; font-size: 6em; line-height: 1; padding: .4em .5em; color: #fff; text-shadow: 2px 2px 4px rgba(0,0,0,.5); background: #000; background: rgba(0,0,0,.4); border-radius: 20px; }
.alert:before { content: "\f087"; }
.alert.error { background: #F30; background: rgba(180,20,0,.6); }
.alert.error:before { content: "\f088"; }


/* -------------------------------------------- */
/* PORTFOLIO */

/* Filters */
#filters { list-style:none; padding:0; margin: 0 0 1.2em 0; text-align: center; }
#filters li { display:inline-block; margin: 0 .7em .2em .7em; }
#filters li a { color: #999; font-size: 0.9em; padding-bottom: 2px; }
#filters li a:hover { color: #888; }
#filters .current a { border-bottom: 3px solid #333; }
#filters .current a, #filters .current a:hover  { color: #333; }

/* Portfolio Items */
.portfolio-items { min-height: 200px; width: 106%; margin-left: -3%; }
.portfolio-items .hentry { float:left; width: 40%; padding: 10px 15px; margin-bottom: 0; text-align: center; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box; }
.portfolio-items .hentry.x2 { width: 80%; }
.portfolio-items .hentry img { display: block; }
.portfolio-items .hentry h4 { color: #222; margin: 1em 0 .2em; font-size: .9em; font-weight:400; }
.portfolio-items .hentry p { font-size: .8em; margin: 0 0 .2em; padding-bottom: .8em; color: #888; text-shadow: 0 1px 0 #fff; border-bottom: 1px solid #ddd; }

.portfolio-items .media-box { position: relative; padding: 4px; background-color: #fff; 
border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-shadow: 1px 1px 1px #d1d1d1;
box-shadow: 1px 1px 1px #d1d1d1; }
.portfolio-items .media-box:after, .portfolio-items .media-box:before { content: " "; position: absolute; width: 50%; height: 100px; z-index: -10; }
.portfolio-items .media-box:before { height: 75%; top: 15px; left: 0; width: 100%; 
-webkit-border-radius: 12px / 65px;
-ms-border-radius: 12px / 65px;
border-radius: 12px / 65px;
-webkit-box-shadow: 0 0 10px #555;
-ms-box-shadow: 0 0 10px #555;
-o-box-shadow: 0 0 10px #555;
box-shadow: 0 0 10px #555;
}
.portfolio-items .media-box:after { display: none; }
.media-box .mask { opacity:0; filter: alpha(opacity = 0); position: absolute; width: 100%; height: 100%; top: 0; left: 0; bottom:0; right:0; text-align: center; overflow: hidden; }
.media-box:hover .mask { opacity:1; filter: alpha(opacity = 100); }
.portfolio-items .mask:before { position:absolute; left: 0; top: 0; font-size: 14px; padding: 1.0em; line-height: 1; text-align: center; content: "\f0ca"; background: #fff; }
.portfolio-items .video .mask:before { content: "\f03d"; }
.portfolio-items .audio .mask:before { content: "\f001"; }
.portfolio-items .image .mask:before { content: "\f03e"; }
.portfolio-items .url .mask:before { content: "\f0c1"; }
.media-box .mask a { position:absolute; top: 0; left: 0; width: 100%; height: 100%; background:#fff; opacity:0; filter: alpha(opacity = 0); }

/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.no-chrome .isotope,
.no-chrome .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.no-chrome .isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.no-chrome .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* Lightbox */
.lightbox.hidden { display: none; }
.fancy-ico, #fancybox-close { font-size: 1em; }
#fancybox-close:before, .fancy-ico:before { display: inline; }
#fancybox-close:before { content: "\f00d"; font-size:1em; }
.fancy-ico:before { font-size: 3em; }
.fancy-ico { width: 50px; }
#fancybox-right-ico:before { content: "\f054"; }
#fancybox-left-ico:before { content: "\f053"; }
.fancy-ico, #fancybox-close { display:inline-block; padding:15px; line-height:64%; cursor:pointer; color: #fff; }
.fancy-ico:hover, #fancybox-close:hover { opacity:1; }
#fancybox-close { opacity: 1; color: #000; background: #fff; }
#fancybox-close:hover { background: #ddd; }


/* PORTFOLIO DETAILS */
.p-single { background: #fff; overflow: visible; }
.p-overlay { display:none; position: absolute; z-index: 3000; top:0; left:0;	width: 100%; height: auto; min-height:100%; overflow: auto; background: #fff; }
.portfolio-single { margin: 0 auto; }
.portfolio-single > .row { padding-top:1em; }
.portfolio-field { padding-top:2em; }
.portfolio-field p { margin-top:0; }
.portfolio-field img, .portfolio-field .fluid-width-video-wrapper, .portfolio-field video { margin-bottom:50px; }
.portfolio-title h2 { margin:0; font-size: 2em; }
.portfolio-field h3 { margin: 2em 0 .4em 0; padding-left:10px; font-size: 1.3em; }
.portfolio-field h3:first-child { margin-top:0; } 
.portfolio-field p { padding-left:14px; padding-right:14px; }
.portfolio-field .btn { margin:2em auto 2em; }
.portfolio-field .launch { text-align: left; padding-left: 14px; }

/* tags */
.tags{ margin:0 0 1em 0; padding:5px; list-style:none; }
.tags li { display:inline-block; }
.tags a{ display:inline-block; height:24px; line-height:24px; font-size:90%; position:relative; margin: 0 0 8px 20px; padding:0 10px 0 12px; color:#333; background:#ebebeb; }  
.tags a:before{ content:""; float:left; position:absolute; top:0; left:-12px; width:0; height:0; border-color:transparent; border-right-color:#FC0; border-style:solid; border-width:12px 12px 12px 0; border-right-color:#ebebeb; }
.tags a:after{ content:""; position:absolute; top:10px; left:0; float:left; width:4px; height:4px; border-radius:50%; box-shadow:-1px -1px 2px rgba(0,0,0,0.1); background:#fff; }

/* portfolio details nav */
.portfolio-nav { text-align:right; }
.portfolio-nav.bottom { margin-bottom:40px; }
.portfolio-nav .button { display:inline-block; min-width: 14px; text-align: center; padding: 8px 14px; line-height:90%; font-size:2em; cursor:pointer; border-radius:4px; }
.portfolio-nav .button:hover { opacity:1; }
.portfolio-nav a.button { color:#777; text-transform: none; border: 0; letter-spacing: 0; }
.portfolio-nav a.button:hover { color:#000; }
.icon.prev:before { content: "\f104"; }
.icon.next:before { content: "\f105"; }
.icon.back { font-family: "Raleway"; font-weight: 200; }

/* Ajax Loader */
.loader { position: fixed; top: 50%; left: 50%; width: 110px; height: 50px; margin-top: -25px; margin-left: -55px; overflow: hidden; z-index: 1104; display: none; background: url(../images/bckg/loader_dark.gif) center center no-repeat; background-color: #000; background-color: rgba(0,0,0,.8); border-radius: 4px; }
@media  (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) { 
	.laoder { background-size: 70px 24px; background-image: url(../images/bckg/loader_dark%402x.gif); }   
}

/* SOCIAL */
@font-face { font-family: 'JustVectorRegular'; font-weight: normal; font-style: normal;
    src: url('fonts/justvector/justvector-webfont.eot');
    src: url('fonts/justvector/justvector-webfontd41d.eot?#iefix') format('eot'),
         url('fonts/justvector/justvector-webfont.woff') format('woff'),
         url('fonts/justvector/justvector-webfont.ttf') format('truetype'),
         url('fonts/justvector/justvector-webfont.svg#webfontmuk63VQd') format('svg');
}
.social { padding:0; margin:2em 0; list-style:none; text-align: center; }
.social li { display:inline-block; padding:0; margin-bottom: -3px; }
.social li a { display:block; float:left; margin: 0 .1em .2em 0; line-height:100%; text-align:center; font-family: 'JustVectorRegular'; font-size:21px; padding: 9px 8px 7px 8px; min-width:21px; max-height:24px; color:#444; border-radius: 50%; border: 1px solid #ddd; }

.social li a.facebook:before { content: 'X'; }
.social li a.twitter:before { content: '_'; }
.social li a.flickr:before { content: 'b'; }
.social li a.rss:before { content: '*'; }
.social li a.dribble:before { content: 'S'; }
.social li a.lastfm:before { content: 'u'; }
.social li a.linkedin:before { content: 'v'; }
.social li a.vimeo:before { content: '!'; }
.social li a.google:before { content: 'k'; }
.social li a.forrst:before { content: 'd'; }
.social li a.skype:before { content: ':'; }
.social li a.picassa:before { content: '8'; }
.social li a.youtube:before { content: "'"; }
.social li a.tumblr:before { content: '\\'; }
.social li a.behance:before { content: 'G'; }
.social li a.blogger:before { content: 'J'; }
.social li a.delicious:before { content: 'L'; }
.social li a.digg:before { content: 'Q'; }
.social li a.friendfeed:before { content: 'f'; }
.social li a.github:before { content: 'j'; }
.social li a.wordpress:before { content: '$'; }

.social li a:hover { color:#fff !important; background-color:#000; border-color: #fff; }
.social li a.facebook:hover { background-color:#3c5fac; }
.social li a.twitter:hover { background-color:#5ec3df; }
.social li a.flickr:hover { background-color:#FF0084; }
.social li a.rss:hover { background-color:#ff9900; }
.social li a.dribble:hover { background-color:#EA4C89; }
.social li a.lastfm:hover { background-color:#D51007; }
.social li a.linkedin:hover { background-color:#2089b5; }
.social li a.vimeo:hover { background-color:#0dadd6; }
.social li a.google:hover { background-color:#c63d2d; }
.social li a.forrst:hover { background-color:#5b9a68; }
.social li a.skype:hover { background-color:#00aff0; }
.social li a.picassa:hover { background-color:#ffd34e; }
.social li a.youtube:hover { background-color:#c8312b; }
.social li a.pinterest:hover { background-color:#cb2027; }
.social li a.tumblr:hover { background-color: #2C4762; }
.social li a.behance:hover { background-color: #3878F6; }
.social li a.blogger:hover { background-color: #fc9947; }
.social li a.delicious:hover { background-color: #3274d1; }
.social li a.digg:hover { background-color: #205891; }
.social li a.friendfeed:hover { background-color: #2f72c4; }
.social li a.github:hover { background-color: #000; }
.social li a.wordpress:hover { background-color: #0083b3; }
.social li a.instagram:hover { background-color:#3f729b; }
.social li a.pinterest:before { content: "\f0d2"; }
.social li a.instagram:before { content: "\f083"; }


/* TWITTER WIDGET ON CONTENT PAGE */
.content .widget-twitter ul { list-style: none; padding:0; }
.content .widget-twitter ul li { position: relative; margin-bottom:3em; padding-top:.4em; }
.content .widget-twitter ul li:before { content: "\f099"; position: absolute; top: 0; left: 0; font-size:24px; color: #ccc; text-shadow: 0 1px 0 #fff; }
.content .widget-twitter ul li span { position:relative; display:block; margin-left:4em; padding:1em 1.4em; background:#fff; }
.content .widget-twitter ul li span:before { content:''; position:absolute; top:0; right:100%; width: 0; height: 0; border-top: 13px solid #fff; border-left: 15px solid transparent; }
.content .widget-twitter ul li span + a { float:right; margin-top:.4em; color:#aaa; }

/* TWITTER WIDGET ON COVER PAGE */
.cover .widget-twitter { position: absolute; bottom: 0; left: 0; width: 100%; max-height: 64px; }
.cover .widget-twitter ul { list-style: none; margin: 0; padding: .9em .9em .9em 0; min-height: 40px; background: #fff; }
.cover .widget-twitter ul li { margin-left: 70px; }
.cover .widget-twitter ul li span { position:relative; }
.cover .widget-twitter ul li span + a { margin-left: 1em; color:#aaa; }
/* update : v.1.1 */
.widget-twitter ul li p { margin: 0; display: inline; }
.widget-twitter ul li p.interact { display: none; }
.widget-twitter ul li p.timePosted { margin-left: 1.2em; color:#aaa; }
/* update : v.1.2 */
.cover .widget-twitter .twitter-link:before { content: "\f099"; position: absolute; top: 15px; left: 15px; line-height: 1; padding: .6em; font-size:18px; color: #fff; background: #0CF; border-radius: 50%; }
.cover .widget-twitter .twitter-link:hover:before { background: #222; }

/* COVER PAGE */
.cover-image-holder { display: none; }
.cover { position: relative; z-index:1000; width:100%; height:100%; overflow:hidden; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.cover h1 { display: block; width: 100%; margin: 0 auto; padding: .5em 0 .1em 0; text-align: center; color: #fff; line-height: 1; letter-spacing: 1px; font-size: 62px; font-family: 'Alfa Slab One'; text-shadow: 8px 7px 0px rgba(0, 0, 0, 0.1); }
.cover h2 { display: block; width: 100%; margin: 0% 0 8% 0%; padding: 0; text-align: center; line-height: 1.2; letter-spacing: 1px; color: #fff; font-size: 16px; font-family: 'Nixie One'; }
.cover h3 { display: block; width: 30%; margin: 5% 0 0 4%; padding: 0; text-align: left; letter-spacing: 1px; font-size: 18px; font-family: 'Raleway'; font-weight: 200; color:#fff; }
.cover h3 span { display: block; font-weight:800; color: #FC0; }
.cover h2, .cover h3 { text-shadow: rgba(0,0,0,.4) 1px 1px 0, rgba(0,0,0,.4) 2px 2px 0; }


/* OPEN BUTTON */
a.rm-button-open { position: absolute; top: 50%; margin-top: -20px; right: -10px; }
a.rm-button-open:hover { right:0; }
.ribbon { text-align: center;
   background: #d64b4b;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -webkit-transition: all 0.2s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.2s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.2s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.2s ease-out;  /* Firefox 16+, Opera 12.50+ */
}
.ribbon strong { display: block; margin:0 0 0 -20px; padding: 0 20px 0 14px; position: relative; z-index: 295; font-size: 15px!important; font-weight: bold; line-height:42px; min-height: 42px; color: #811919; text-shadow: 0 1px 0 rgba(255,255,255,.2); }
a.ribbon { color: #630f0f; }
a.ribbon:hover { color: #000; }
.ribbon:before { content: ''; position: absolute; display: block; top: 0; border: 24px solid #d64b4b; z-index: -1; }
.ribbon:before { left: -48px; border-right-width: 24px; border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px; 
}
.ribbon .ribbon-content:before { left: 0; border-width: 1em 0 0 1em; }
.ribbon-stitches-top { display: block; margin-top:2px; margin-left: -40px; border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom { display: block; margin-bottom:2px; margin-left: -40px; border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
   -webkit-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
}



/* CLOSE BUTTON */
.rm-close { color: #fff; position: absolute; top: 0; right: 30px; cursor: pointer; z-index:300; }
.rm-close:hover { color: #ccc; }
.rm-close span { display:inline-block; margin-top: 14px; }
.rm-close span:before {content: "\f00d"; font-size: 20px;}
.rm-close { background: #333; border-left: 1px dashed #888; border-right: 1px dashed #888; box-shadow: 3px 0 0 #333, -3px 0 0 #333; text-align: center; width: 40px; height:50px; }
.rm-close:after,
.rm-close:before { border-top: 15px solid #333; content: ''; height: 0; position: absolute; top: 100%; width: 0; }
.rm-close:after { border-left: 25px solid transparent; right: -4px; }
.rm-close:before { border-right: 25px solid transparent; left: -4px; }



/* HOMEPAGE COVER BLOG LINK */
.latest-from-blog {
	margin: 22px 0; position: absolute; bottom: 60px; right: 0; left: 0;
	}
.latest-from-blog h3 {
    width: 320px; font-size: 12px !important; padding: 6px; padding-left: 4%; background: #111; margin: 0; text-transform: uppercase;
	}
.latest-from-blog h3 a:before {
	content: " - ";
	}
.latest-from-blog h3 a {
	font-size: 10px; color: #fff; letter-spacing: 2px;
	}
.latest-from-blog h3 a:hover {
	opacity: .6;
	}
.latest-from-blog h2 {
	text-align: left; margin: 0 0 0 4%; display: inline; font-size: 18px !important; text-shadow: none !important;
	}
.latest-from-blog h2 a {
	display: inline-block; padding: 5px; color: #111; background: #F9ED3A;
	}
.latest-from-blog h2 a:hover {
	background: #fff;
	}
	

/* ------------------------------------------ 
   ---------------------  SAFE MOD */
.safe-mod .rm-container { overflow: hidden; }
.safe-mod .rm-container { width: 100%; max-width:600px;
	-webkit-perspective: 0px;
	-moz-perspective: 0px;
	-o-perspective: 0px;
	-ms-perspective: 0px;
	perspective: 0px; }
.safe-mod .rm-wrapper { position: static; background: #fff; }
.safe-mod .rm-wrapper .rm-middle { box-shadow: none; }
.safe-mod .rm-close, .safe-mod .rm-overlay { display: none; }
.safe-mod .antiscroll-inner { overflow:hidden; }
.safe-mod.on-cover-page .rm-wrapper { position:absolute; top: 0; bottom: 0; }
.safe-mod #header { display:block; }
.safe-mod.on-cover-page #header { display:none; }
.safe-mod .rm-wrapper,
.safe-mod .rm-wrapper > div { position: static; }
.safe-mod.not-on-cover-page body { width:auto; height:auto; }
.safe-mod.not-on-cover-page .main { height:auto; }
.safe-mod.not-on-cover-page .page { height:auto; }
.safe-mod.not-on-cover-page .antiscroll-wrap { position:relative; top:auto; bottom:auto; left:auto; overflow:hidden; }
.safe-mod.not-on-cover-page .antiscroll-inner { position:relative; }
.safe-mod.not-on-cover-page .rm-wrapper > div > div { position: static; }
.safe-mod .rm-right .rm-front { display: none; }





/* ----------------------------------
   RESPONSIVE LAYOUTS
   ---------------------------------- */

/* WIDTH 420 */
.w420 h2 { font-size: 1.6em; }
.w420 .letter-info { float: none; text-align: center; margin-left: 0;}
.w420 .stamp { float: none; margin: 0 auto;}
.w420 .contact-form label { float: none; width: 100%; }
.w420 .contact-form input, .w420 .contact-form textarea { float: none; width: 100%; }
/* resume page */	
.w420 h4.about-text { font-size: 1.2em; }
.w420 .testo img { max-width: 60px; }
.w420 .testo .text { margin-left: 80px; }
.w420 .history-unit:before { left: 46px; }
.w420 .history-unit h4.work-time { min-width: 67px; font-size: 2em; }
.w420 .history-unit .work-desc { margin-left: 104px; }
/* portfolio */
.w420 #filters li { margin: 0 .5em .2em .5em; }

   
/* TABLETS */
@media screen and (max-width: 978px) {
	.portfolio-field { padding-top:1em; }
	.portfolio-field img, .portfolio-field .fluid-width-video-wrapper, .portfolio-field video { margin-bottom:1.4em; }
	.portfolio-nav, .portfolio-title { text-align: center; }
	.portfolio-nav { padding-bottom:.5em; }
	.portfolio-title h2 { font-size:1.5em; padding-left:0; }
	.portfolio-field h3 { margin-top: 1em; }
	.portfolio-field .launch { text-align: center; }
}

/* TABLET PORTRAIT  */
@media screen and (min-height: 800px) and (max-width: 960px) {
	.safe-mod .rm-container { width: 100%; max-width: none; }	
}

/* HIGH RES DESKTOPS */
@media screen and (min-width: 1200px) { 
	.portfolio-items .hentry img { -webkit-filter: grayscale(50%); }
	.portfolio-items .media-box:hover img { -webkit-filter: grayscale(0%); }
}
@media screen and (min-height: 800px) and (min-width: 1200px) {
	.safe-mod .rm-container { width: 100%; max-width: 700px; }	
}
@media screen and (min-height: 900px) and (min-width: 1400px) {
	.safe-mod .rm-container { width: 100%; max-width: 770px; }	
}

/* PHONES */
@media screen and (max-width: 560px) {
	#header nav ul a { line-height:60px; font-size: 17px; }
	.content { padding: 2em 1.2em; }
	.cover .widget-twitter { display: none; }
	.latest-from-blog { bottom: 0; }
}





/* ------------------------------------------ 
   ---------------------  CUSTOMIZATIONS */

/* TEXT COLORS */
body { color:#333; }

/* Mobile Menu Active Item */
#header nav ul .current_page_item a { color: #fff; background: #15B79C; }

/* Portfolio Nav Button */
.portfolio-nav a.button:hover { background:#FFE04F; }

/* Label */
.label { color: #fff; background: #333; }

/* Button */
.btn { color: #fff; background: #333; }
.btn:hover { color: #fff; background: #d64b4b; }
.btn:active { background: #c14545; }



/* Text Selection */
::selection { text-shadow:none; color:#fff; background:#555; }
::-moz-selection { text-shadow:none; color:#fff; background:#555; }
  
/* INNER PAGE BG */
.rm-wrapper > div > div { background-color: #fff; }

/* FRONT PAGE BG */
.rm-wrapper > div.rm-cover > div.rm-front { background-color: #666; }

/* BACK PAGE BG */
.rm-wrapper > div.rm-right > div.rm-front { background-color: #666; }


/* --------------------------------------- */


/* chrome video fullscreen fix */
:-webkit-full-screen-ancestor:not(iframe) {
    -webkit-animation: none;
}


/*  --------------------------------------------

	2. FORMS (@forms) - form elements
	
    -------------------------------------------- */
fieldset {
    border: 0; margin: 0; padding: 0;
	}
form p {
 	position: relative; margin: 1.6em 0;
	}
label {
 	display: block; font-size: 10px; letter-spacing: 1px; font-weight: 700; margin-bottom: 0.6em; text-transform: uppercase;
	}
::-webkit-input-placeholder { 
	color: rgba(255,255,255,0.2);
	}
::-moz-placeholder { 
	color: rgba(255,255,255,0.15);
	} 
:-ms-input-placeholder { 
	color: rgba(255,255,255,0.15);
	}
label input { 
    font-weight: 400;
    }
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
textarea,
select {
 	padding: 12px 16px; width: 100%; font-size: 14px; color: #345; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 0; background-color: transparent; -webkit-appearance: none; -webkit-tap-highlight-color: transparent; box-sizing: border-box;
	}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):hover,
textarea:hover,
input:hover,
select:hover {
 	outline: 0;
	}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
textarea:focus,
input:focus,
select:focus {
 	border-color: #4ECE99; outline: 0;
	}
textarea {
 	min-height: 9em; line-height: 1.6; resize: vertical;
	}
select {
	padding: .8em 1em; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAZJJREFUaIHt1r9LVWEYB/DPVTEpgqRBaEhocmiyoc2lrZbG+gts8z8I5xykRfwxROBiEBENSdAmQZMKTldwUHAJAltEBG2453Beg7zXe99zXZ4PHC7nx/s833O5931fQgghhBBCCDUbxCqe9qHXc7zDQM6iizjHMaZyFv7HE5wUvRY6GdDpW+4XnyP4gskrR2vvMT5juDg/yFm8gTmtb+YcvzCRsf5D/E7qvyl6ZtXAStLkAOMZ6j7AYVJ3WQ3hS4P4kDTbxVgP9e5hL6m3VvSo1TDWk6bbGO2izl3sJHW+qn7/tbuFjaT5j+Jap27jZzJ+AzczZ2zrDraSEN9wo4NxI/iejNssal2LMTSTMB8xdMnzQ/iUPN/U238oi3GtGakM9b9VdADvXZzF7vcpY1sTWmtDGW7examwgbfJ/dzrSBaP8EcV8nVybza5fqSelTyLKa39Uhl2pjjK87r3Ulk8w6kqdHmc6s9uNouXOFOFP8OLa03UhVeqF5iuq8llc3avFlUL1FKNfUIIIYQQQgjd+QvyJ2oyQcCnYgAAAABJRU5ErkJggg==); background-position: 97% center; background-position: right 10px center; background-repeat: no-repeat; background-size: 20px 20px;
}
select::-ms-expand {
    display: none;
	}
input[type=file]{
	width: 100%; outline: 0; cursor: pointer; font-size: 13px;
	}
input[type=file]::-webkit-file-upload-button {
	display: inline-block; padding: .6em 1em; outline: 0; color: #333; background-color: transparent; border: 1px solid #999; cursor: pointer;
	}
input[type=checkbox] {
    -webkit-appearance: none; height: 1em; position: relative; background-color: transparent; border: 2px solid #333; width: 1em; border-radius: 3px; outline: none;  font-size: 15px; vertical-align: text-bottom; margin-right: .6em;
	}
input[type=checkbox]:active {
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.2) inset;
	}
input[type=checkbox]:before,
input[type=checkbox]:after {
    content: ''; background-color: inherit; position: absolute; transition: 0.1s background-color;
	}
input[type=checkbox]:after {
    width: 0.14em; height: 0.60em; -webkit-transform: rotate(36deg) translate(0.42em, -0.17em);
	}
input[type=checkbox]:before {
    width: 0.14em; height: 0.35em; -webkit-transform: rotate(-58deg) translate(-0.2em, 0.35em);
	}
input[type=checkbox]:checked:after,
input[type=checkbox]:checked:before {
    background-color: #333;
	}
input[type=radio] {
    -webkit-appearance: none; height: 1em; position: relative; background-color: #fff; border: 2px solid #333; width: 1em; border-radius: 50%; outline: none; font-size: 15px; margin-right: .6em; vertical-align: text-bottom;
	}
input[type=radio]:checked:before {
    content: ''; background-color: #333; position: absolute; border-radius: 50%; top: 3px; left: 3px; bottom: 3px; right: 3px;
	}
.inline-label {
 	display: inline-block; margin-right: 2.2em;

	}
/* validation  */
label.error {
 	position: absolute; bottom: -19px; left: 0; min-width: 160px; font-size: 10px; font-weight: 800; text-transform: uppercase; padding: .2em .8em; background-color: #E24C4C; color: #fff; letter-spacing: 0;
	}
label.error:after {
 	content: " "; position: absolute; left: 1.6em; bottom: 100%; pointer-events: none; width: 0; height: 0; border-bottom: 8px solid #E24C4C; border-right: 8px solid transparent;
	}


/* BUTTONS */
input[type=submit],
input[type=button],
button,
a.button {
 	display: inline-block; position: relative; padding: 1.1em 2em; margin-bottom: .25em; font-size: 11px; font-weight: bold; text-transform: uppercase; line-height: 1.2; letter-spacing: .08em; outline: 0; border: 2px solid #345; color: #345; text-shadow: none; background: none; border-radius: 0;
	}
input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.button:hover {
 	color: #fff; background-color: #1B2E34; border-color: transparent;
	}
input[type=submit]:active,
input[type=button]:active,
button:active,
a.button:active {
	opacity: .8;
	}
/* Large Buttons */
input[type=submit].big,
input[type=button].big,
button.big,
a.button.big {
 	font-size: 12px; padding: 1.5em 2.6em;
	}
/* Small Buttons */
input[type=submit].small,
input[type=button].small,
button.small,
a.button.small {
 	padding: .6em 1.4em; font-size: 11px;
	}



/* ----- 4.1 HEADER ----- */
.header {
	max-width: 1040px; margin: 0 auto;
	position: relative; display: flex; align-items: center; justify-content: center; text-align: center; padding: 10% 0; background-size: cover; background-position: center; background-color: #fff;
	}
.header::before {
    display: block; content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(39, 97, 99, 0.13); opacity: 1; -webkit-transition: opacity 0.5s 0.4s, visibility 0s 0.9s; transition: opacity 0.5s 0.4s, visibility 0s 0.9s;
	}
.header .site-title {
	font-size: 44px; font-size: 10vw; letter-spacing: 0; font-weight: 100; color: #fff; line-height: 1; padding: 0; margin: 0;
	}
.header-title-link + .site-title { margin: 30px 0; font-size: 64px;
	}
.header img {
	margin-bottom: 16px; border-radius: 50%;
	}
.site-description {
	font-size: 12px; color: #fff;
	}
.header-wrap > img {
	display: none;
	}

/* NAV MENU */
.nav-menu ul { 
	padding: 0; margin: 0; list-style: none; text-align: center;
	}
.nav-menu ul li {
	display: inline-block; font-size: 11px; text-transform: uppercase; font-weight: 700; 
	}
.nav-menu ul i { 
	display: block; margin-bottom: .2em; position: absolute; top: 14px; left: -6px; font-size: 12px;
	}
.nav-menu ul i:before { 
	display:inline-block; font-size: 2.4em; line-height: 1; 
	}
.nav-menu a { 
	display: block; padding: 1.8em 3em; color: #fff; position: relative; letter-spacing: .12em;
	}
.nav-menu a:hover { 
	color: #fff; opacity: .8;
	}
.nav-menu:not(.menu-with-icons) ul {
	margin: 1.6em 0 0;
	}
.nav-menu:not(.menu-with-icons) ul a {
    padding: .5em;
	}

	
/* ----- 4.2 FOOTER ----- */
.site-footer {
	position: relative; width: 100%; clear: left;
	}
.site-footer .site-info {
	max-width: 960px; margin-left: auto; margin-right: auto; padding: 22px 0; text-align: center; font-size: 11px; letter-spacing: 4px; text-transform: uppercase;
	}
.site-footer .site-info a {
	color: #345;
	}

/* LAYOUT */
body.classic {
	overflow: auto;
	}
body.classic * {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	}
.layout-fixed,
.layout-medium,
.layout-full {
	width: 100%; padding: 20px; margin: 0 auto; z-index: 1; position: relative;
	}
.layout-fixed {
	max-width: 700px;
	}
.layout-medium {
	max-width: 1040px;
	}
.site-middle .layout-medium {
	overflow: auto; background: #fff;
	}
.hentry {
	padding: 0 0 2em 0;
	}
.entry-header {
	padding-top: 2em; 
	}
.entry-title {
 	margin: 0; text-align: center;
	}
.entry-content {
	margin: 1.2em 0 0;
	}
.edit-profile{
    border-radius: 4px;
    border: 5px solid #C25337;
}
/* SECTION TITLE */
.section-title { 
	margin: 0 0 4px 0; position: relative; z-index: 10; 
	}
.page-title + .section-title,
.section-title:first-child { 
	margin-top: 0; 
	}
.section-title h2 { 
	margin: 0; font-size: 11px; text-transform: uppercase; position: relative; display: inline-block; font-weight: normal; letter-spacing: 0.2em; /*white-space: nowrap;*/ text-align: center; color: #345;
	}
.section-title h2:after, 
.section-title h2:before {
	content: " "; display: block; position: absolute;
	}
.section-title h2 i {
	display: inline-block; position: relative; padding: 0; font-style: normal; box-shadow: inset 0 -6px 0px #FDF854; color: #345;
}
.section-title h2 i:after {
	content: " "; display: block; position: absolute; width: 0; height: 0; bottom: -.5em; left: -.05em; 
	}

/* BLOG */
.blog-regular {
	margin-bottom: 3em; 
	}	
.blog-regular .hentry {
	padding-bottom: 2em; 
	}	
.blog-regular .entry-title {
	font-size: 1.5em;
	}
.entry-title a {
 	color: inherit;
	}
.blog-regular .hentry { 
	text-align: center; 
	}
.blog-regular .entry-title { 
	margin-top: 0; 
	}
.blog-regular .entry-content { 
	max-width: 550px; margin-left: auto; margin-right: auto; 
	}

/* entry-meta */
.entry-meta {
 	color: #ccc; font-weight: 700; font-size: 10px; letter-spacing: 1px; margin-top: 1em; text-align: center; text-transform: uppercase;
	}
	.entry-meta span {
		margin-right: 8px; margin-bottom: 12px;
		}
	.blog-regular .entry-meta .comment-link {
		display: none;
		}	
	.cat-links a { 
		margin-bottom: 8px;
		}
	.cat-links a, 
	.cat-links a:hover { 
		color: #345;
		}
	.comment-link a, 
	.comment-link a:hover {
		color: #DCDFE2;
		}

.nav-single a,
.comment-meta a,
.comment-reply-link,
.navigation a,
.post-pagination a,
.related-posts a,
.tabs .tab-titles li a {
	color: inherit;
	}
.navigation a:hover,
.post-pagination a:hover,
.entry-content a.more-link:hover {
	color: #fff; border-color: transparent;
	}
.nav-single a:active,
.comment-meta a:active,
.comment-reply-link:active,
.navigation a:active,
.post-pagination a:active,
.related-posts a:active,
.entry-content a.more-link:active {
	opacity: .8;
	}
	
/* more link */
.more {
	display: block; margin-top: 1.6em;
	}
a.more-link {
	display: inline-block; padding: 1.6em 2.4em; color: #6A7686; font-weight: 400; letter-spacing: 2px; font-size: 9px; line-height: 1; background: none; border: 1px solid #DDE4E6; text-transform: uppercase;
	}
a.more-link:hover,
.pagination a:hover,
.navigation a:hover {
 	background: #1B2E34
	}
	
/* featured image */
.featured-image {
 	margin-top: 1.4em;
	}
	.featured-image img {
 		display: block; margin: 0 auto;
		}

/* PAGINATION */
.navigation,
.post-pagination {
 	padding: 3em 0; font-size: 11px; letter-spacing: 2px; overflow: auto;
	}
	.navigation > div {
 		width: 50%; float: left;
		}
	.navigation a,
	.post-pagination a {
 		display: inline-block; padding: 1.5em 2.0em; color: #6A7686; border: 1px solid #DDE4E6; text-transform: uppercase;
		}
	.navigation .nav-next {
 		text-align: right
		}
	.navigation .meta-nav {
 		margin-right: .5em
		}
	.navigation .nav-next .meta-nav {
 		margin-left: .5em; margin-right: 0;
		}
	/* NUMBERED PAGINATION */
	.post-pagination ul {
 		list-style: none; text-align: center; padding: 0;
		}
	.post-pagination li {
 		display: inline-block; font-size: .9em; margin: .3em .1em;
		}
		.post-pagination li a {
 			padding: .8em 1.4em; margin: 0 4px;
			}
	.post-pagination li.current a,
	.post-pagination li.current a:hover {
 		border-color: #6A7686; font-weight: 800; background: #fff; color: #6A7686; cursor: default;
		}

/* POST FORMATS */
.hentry .entry-header:before {
 	font-size: 28px; color: #DCDFE2; display: block; text-align: center; padding-bottom: .3em;
	}
/* sticky  */
.hentry.sticky {
	border-bottom: 4px solid #345;
	}
/* quote  */
.format-quote .entry-content blockquote {
    text-align: center;
    }
.format-quote blockquote {
 	width: 100%; margin: 0; padding: 0;
	}
.format-quote blockquote:before {
 	content: ""
	}
/* link  */
.format-link .entry-content {
    padding-top: 0;
    }
.format-link .entry-content  > p:first-child {
    text-align: center;
	}
.format-link .entry-content  > p:first-child a:first-child {
    font-size: 1em; font-weight: bold; word-break: break-all; padding: .5em 1.6em; margin: 1em 0; display: inline-block; color: inherit; border: 4px dashed #eee; 	
	}
.format-link .entry-content  > p:first-child a:first-child:hover {
	border-style: solid; border-color: #555;	
	}
/* blockquote  */
blockquote {
 	position: relative; margin: 1.6em 0; padding: 0 .8em; text-align: center; font-size: 1.2em; line-height: 1.2; font-weight: 900;
	}
blockquote p {
	line-height: 100%;
	}
blockquote cite {
 	display: block; font-size: 13px; padding-right: 1em; margin-top: 1em; font-style: normal; font-weight: 400; color: #ccc; letter-spacing: 0.03em;
	}
/* gallery  */
.gallery {
	margin: 2em 0;
	width: 100%;
	width: -webkit-calc(100% + 4px);
	width:         calc(100% + 4px);
    }
.gallery:before,
.gallery:after {
 	content: " "; display: table;
	}
.gallery:after {
 	clear: both
	}
.gallery-item {
	display: block; position: relative; float: left; margin: 0 4px 4px 0;
    }
.gallery-item a {
	display: block; position: relative; float: left; margin: 0 4px 4px 0;
    }
.gallery-item a:before {
	content: ""; opacity: 0; filter: alpha(opacity = 0); position: absolute; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; text-align: center; overflow: hidden; background: #33475D; background: rgba(51, 71, 93, 0.6);
	}
.gallery-item a:after {
	 opacity: 0; position: absolute; left: 50%; top: 50%; margin: -33px 0 0 -33px; width: 66px; line-height: 66px; font-size: 42px; text-align: center; color: #fff;
	}
.gallery-item a:hover:before,
.gallery-item a:hover:after { 
	opacity: 1; 
	}
.gallery-item img {
	width: 100%;
    }
.gallery-columns-1 .gallery-item {
	max-width: 100%;
    }
.gallery-columns-2 .gallery-item {
	width: 48%;
	width: -webkit-calc(50% - 4px);
	width:         calc(50% - 4px);
    }
.gallery-columns-3 .gallery-item {
	width: 32%;
	width: -webkit-calc(33.3% - 4px);
	width:         calc(33.3% - 4px);
    }
.gallery-columns-4 .gallery-item {
	width: 23%;
	width: -webkit-calc(25% - 4px);
	width:         calc(25% - 4px);
    }
.gallery-columns-5 .gallery-item {
	width: 19%;
	width: -webkit-calc(20% - 4px);
	width:         calc(20% - 4px);
    }
.gallery-columns-6 .gallery-item {
	width: 15%;
	width: -webkit-calc(16.7% - 4px);
	width:         calc(16.7% - 4px);
    }
.gallery-columns-7 .gallery-item {
	width: 13%;
	width: -webkit-calc(14.28% - 4px);
	width:         calc(14.28% - 4px);
    }
.gallery-columns-8 .gallery-item {
	width: 11%;
	width: -webkit-calc(12.5% - 4px);
	width:         calc(12.5% - 4px);
    }
.gallery-columns-9 .gallery-item {
	width: 9%;
	width: -webkit-calc(11.1% - 4px);
	width:         calc(11.1% - 4px);
    }
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
    }
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
    }
.gallery .gallery-caption {
    display: none; position: absolute; bottom: 0; left: 0; right: 0; max-height: 45%; margin: 0; padding: 6px 8px; text-align: center; opacity: 0; filter: alpha(opacity=0); font-size: 13px; line-height: 1.4; overflow: hidden; z-index: 999; color: #fff; background-color: #8ACB82;
    }
.gallery-caption:before {
	content: ""; height: 100%; min-height: 49px; position: absolute; top: 0; left: 0; width: 100%;
    }
.gallery-item:hover .gallery-caption {
    opacity: 1; filter: alpha(opacity=100);
    }
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
    }
/* aside  */
.format-aside .entry-content {
    text-align: center;
	}
/* status  */
.format-status .entry-content { 
	text-align: center; 
	}
.format-status .entry-content > p:first-child {
    display: inline-block; padding: 1em; border: 1px solid #eee; font-size: 1em; font-style: italic; line-height: 1.5;
	}
/* chat  */
.chat-row {
	text-align: left; 
	}
.chat-row:after {
 	display: table; content: ""; line-height: 0;
	}
.chat-row > div {
	display: inline-block;
	}
.chat-author {
	text-align: right; width: 100px; margin-top: 5px; font-size: 14px; text-transform: uppercase;
	}
.chat-author cite {
 	display: inline-block; min-width: 80%; margin-right: .1em; font-size: 0.9em; font-weight: 800; font-style: normal;
	}
.chat-text {
	text-align: left; padding-left: 20px;
	}
.chat-text p {
    position: relative; display: inline-block; max-width: 460px; padding: 5px 14px; margin-top: 0; margin-bottom: .6em; background: #FFF; border-radius: 4px; border: 1px solid #E9E6DF; font-size: 14px !important; line-height: 1.5 !important;
    }
.chat-text p:after {
	content: ''; position: absolute; border-style: solid; border-width: 5px 4px 5px 0; border-color: transparent #FFFFFF; display: block; width: 0; z-index: 1; left: -4px; top: 10px;
	}
.chat-text p:before {
	content: ''; position: absolute; border-style: solid; border-width: 6px 5px 6px 0; border-color: transparent #eee; display: block; width: 0; z-index: 0; left: -6px; top: 9px;
	}
.chat-text p:empty { 
	display: none; 
	}
.chat-speaker-2 .chat-author cite {
	font-style: italic;
    }
.chat-speaker-2 .chat-text p {
    border-color: #E9E6DF;
    }
.chat-speaker-2 .chat-text p:before {
    border-color: transparent #E9E6DF;
    }

/* BLOG SINGLE */
.blog-single .hentry {
	padding-bottom: 2em;
	}
.blog-single .entry-meta {
 	line-height: 1.9; text-align: center; padding-bottom: 20px;
	}
.blog-single .entry-content { 
	text-align: left; margin-left: auto; margin-right: auto;
	}
/* nav single */
.nav-single {
	padding: 3em 0; text-transform: uppercase;
	}
	.nav-single h6 {
 		font-size: 11px; letter-spacing: 1px; color: #DCDFE2;
		}
	.nav-single h2 {
 		font-size: 17px; font-weight: 400; line-height: 1.4; letter-spacing: .1px; text-transform: none;
		}
	.nav-single .meta-nav {
 		margin-right: .6em
		}
	.nav-single .nav-next .meta-nav {
 		margin-left: .6em; margin-right: 0;
		}
	.nav-single .nav-next {
 		text-align: right
		}
		
/* TAGS  */
.tags.entry-meta {
 	margin: 0 0 1em 0; padding: 1em .2em; list-style: none; text-align: left;
	}
	.tags li {
 		display: inline-block
		}
	.tags a,
	.tagcloud a {
 		display: inline-block; line-height: 24px; font-size: 10px; font-weight: bold; position: relative; margin: 0 4px 8px 12px; padding: 0 10px 0 12px; background: #EAEEEF; text-transform: uppercase; color: #6A7686; border-radius: 0 2px 2px 0;
		}
	.tags a:hover {
		color: #333;
		}
	.tags a:before,
	.tagcloud a:before {
 		content: ""; float: left; position: absolute; top: 0px; left: -11px; width: 0; height: 0; border-color: transparent; border-right-color: #EAEEEF; border-style: solid; border-width: 12px 11px 12px 0;
		}
	.tags a:after,
	.tagcloud a:after {
 		content: ""; position: absolute; top: 9px; left: 0; float: left; width: 6px; height: 6px; border-radius: 50%; background: #fff;
		}
	
/* RELATED POSTS */
.related-posts {
 	padding: 2em 0 0; text-align: center;
	}
	.related-posts .media-grid {
		min-height: 0; overflow: hidden;
		}
	.related-posts .media-grid .media-cell {
 		margin-bottom: 0;
		}
	.related-posts .mask:before {
		font-size: 32px;
		}
	.related-posts .media-cell-desc {
		padding: 4px 12px;
		}
	.related-posts h2 {
		font-size: 1em;
		}
	.related-posts .section-title {
		margin-bottom: 32px;
		}
	
/* COMMENTS */
.comments-title {
	margin-bottom: 1.2em; 
	}
.comments-area {
 	padding: 0;
	}
.comments-area ol {
 	list-style: none; margin: 0; padding: 0;
	}
    .commentlist {
 	padding: 0; line-height: 1.6;
	}
	.comments-area ol ol {
 		margin-left: 6%
		}
.comments-area article {
    position: relative; padding: .6em 0; margin-bottom: .8em; border-bottom: 1px solid #F4F3EF;
    }   
.commentlist > li:last-child > article {
    border-bottom: 0;
    }
.comment-meta {
    text-transform: uppercase;
    }
.comment-meta img {
    display: block; float: left; margin: 0 1.0em 0 0; border-radius: 50%; max-width: 52px; 
	}
.comment-meta .fn {
    display: block; font-size: 11px; font-weight: 900; letter-spacing: 1px; font-style: normal; padding-top: 0.2em;
    }
.comment-meta .comment-date {
    display: block; font-size: 10px; font-weight: 400; color: #C5CAD0; letter-spacing: 1px;
    }
.comment-content {
    padding-top: .1em; clear: left;
	}
	.comment-content p {
 		margin: .8em 0 .2em 0; font-size: 13px;
		}
.comment .reply {
    text-align: right; font-weight: 700; font-size: 11px; letter-spacing: 1px; text-transform: uppercase;
	}
/* comment by post author  */
.bypostauthor > article {
	border-bottom-width: 4px;
	}
	
/* COMMENT FORM */
#respond {
 	padding: 0 0 1em 0; margin: 1em 0;
	}
#reply-title {
	margin-bottom: 1.5em; font-size: 12px; font-weight: 900; letter-spacing: 2px; text-transform: uppercase;
	}
	#reply-title small {
		padding-left: 14px; text-transform: uppercase; font-size: 16px;
		}
.form-allowed-tags,
.comment-notes {
 	display: none; font-size: .9em;
	}
	.form-allowed-tags code {
 		margin-top: 1em
		}
.form-submit {
 	margin-top: 2em
	}

/* WIDGET AREA */
.widget-area { 
    padding: 2em 0; overflow: hidden;
    }
.widget-area .widget { 
    padding: 0 0 2em 0; 
    }
.widget-area a { 
    color: #334455; 
    }
.widget-area a:hover { 
    color: #1C262B; 
    }
.widget-title { 
    margin-bottom: 1.6em; font-size: 11px; text-transform: uppercase; letter-spacing: 2px; font-weight: 900;
    }
.widget-title:after { 
    display: block; width: 24px; height: 16px; content: ""; border-bottom: 3px solid #333;
}
.widget-area ul li { 
    font-size: .875em; 
    }
.widget-area ul ul ul li {
    font-size: inherit;
	}
.widget label input {
	font-size: 13px !important; font-weight: 400;
	}
.widget-area iframe {
 	width: 100% !important; max-height: 290px;
	}

/* DEFAULT WIDGETS */
.widget-area ul { 
    margin-left: 1.2em; padding-left: 0; 
    }
.widget-area ul li { 
    position:relative; margin-bottom:.4em; line-height:1.5; 
    }

/* recent entries widget */
.widget_recent_entries ul { 
    margin-left: 0; list-style: none;
    }
.widget_recent_entries ul li { 
    margin: 0; padding: 1em 0 .5em 0; font-size: 14px; border-bottom: 1px solid rgba(28, 38, 43, 0.05);
    }
.widget_recent_entries ul li:last-child,
.widget_recent_entries ul li:last-child:hover { 
    border-bottom: 0;
    }

/* recent comments widget */
.widget_recent_comments ul li { 
    font-style: italic; 
    }
.widget_recent_comments ul li a { 
    font-style: normal; 
    }
.widget_recent_comments ul li a:nth-of-type(2) { 
    font-weight: bold; 
    }

/* pages widget */
.widget_pages ul ul li { 
    font-size: 1em; 
    }

/* text widget */
.textwidget { 
    font-size: .875em;
    }
.textwidget img { 
	margin-bottom: 1em;
    }

/* rss widget */
.widget_rss .rss-date, 
.widget_rss cite:before { 
    text-align:left; font-style:italic; color:#bbb; 
    }
.widget_rss .rss-date { 
    margin-left:1em; font-size:.875em; 
    }
.widget_rss ul li { 
    padding-bottom: 1.4em;
    }
.widget_rss ul li a.rsswidget { 
    font-weight:bold; 
    }
.widget_rss .widget-title img { 
    margin-right:.1em; 
    }
.widget_rss cite { 
    display:block; margin-top:.6em; text-align:right; 
    }
.widget_rss cite:before { 
    content:"by "; 
    }
.widget_rss .rssSummary { 
    padding-top:.2em; 
    }

/* tag cloud widget */
.tagcloud a { 
    font-size: 10px !important; font-weight: 400; color: #6A7686;
    }

/* categories widget */
.widget_categories ul,
.widget_archive ul { 
    list-style: none; margin-left: 0; 
    }
.widget_categories ul li.cat-item {
    margin-bottom: .6em;
    }
.widget_categories ul li.cat-item a,
.widget_archive li a {
    padding: 7px 0; margin: 0px; font-size: 12px; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid rgba(28, 38, 43, 0.05); display: block;
    }
.widget_categories ul li:last-child a { 
    border-bottom: 0;
    }

/* search widget */
.widget_search .search-submit { 
    margin-top: 12px; font-size: 11px;
    }

/* calendar widget */
.widget_calendar table { 
    width: 100%; max-width: 280px; margin-bottom: 0; font-size: 13px;
    }
.widget_calendar thead { 
    display: none;
    }
.widget_calendar table caption { 
    text-align: left; font-style: italic; padding-bottom: 8px; padding-left: 10px;
    }
.widget_calendar table tr td, 
.widget_calendar table tr th { 
    padding: .5em 0;
    }
.widget_calendar tbody a { 
    font-weight: 700; 
    }
.widget_calendar tfoot { 
    font-size: 13px; 
    }
.widget_calendar tfoot #prev { 
    text-align: left; 
    }
.widget_calendar tfoot #next { 
    text-align: right; 
    }

/* CUSTOM WIDGETS */

/* SOCIAL FEED */
.social-feed ul {
    margin-left: 0; list-style: none; 
    }
.social-feed ul li { 
    display:inline-block; padding: 0 4px 4px 0; font-size: 0;
    }
.social-feed ul li img { 
    max-width: 80px; max-height: 100%; 
    }

/* INSTAGRAM WIDGET */
/* wp plugin : WP Instagram Widget */
.null-instagram-feed ul {
    padding: 0; margin: 0; overflow: auto;
    }
.null-instagram-feed ul li {
    width: 33.33%; float: left; padding-right: 5px;
    }

/* TOP10 Popular Posts Widget */
.tptn_posts ul {
	list-style: none; margin: 0;
	}
.tptn_posts ul li {
	display: block; clear: left; overflow: hidden; margin-bottom: 1em;
	}
.tptn_posts img {
	float: left; margin-right: 16px; max-height: 76px; width: auto;
	}
.tptn_posts .tptn_link {
	display: block; font-size: 14px;
	}
.tptn_posts .tptn_after_thumb > span {
	font-size: 13px; color: #DAD8D1; margin-right: 6px;
	}


/* TABLETS */
@media screen and (min-width: 768px) { 
	
	/* LAYOUT */
	.site-middle > .layout-medium {
		padding: 20px 50px; box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
		}	
	.site-main {
		margin: 5em 0;
		}
	.header {
		padding: 5% 0; box-shadow: 0px -30px 10px -22px rgba(0,0,0,0.24);
		}
	    
    /* SIDEBAR */
    .with-sidebar { 
        float: left; width: 61%;
        }
    .sidebar { 
        float: left; width: 34%; margin-left: 5%;
        }
		
	/* BLOG SINGLE */
	.related-posts .media-grid .media-cell {
 		float: left; width: 33.33%;
		}
		
}


/* DESKTOPS */
@media screen and (min-width: 992px) { 
	
	/* LAYOUT */
	.site-middle > .layout-medium {
		padding: 30px 90px;
		}	
	    
    /* SIDEBAR */
    .with-sidebar { 
        width: 64%;
        }
    .sidebar { 
        width: 29.8%; margin-left: 6%;
        }	
	
	/* HOMEPAGE COVER BLOG LINK */
	.latest-from-blog h2 {
		font-size: 24px !important;
		}

    /* Login Form */
    #login form p {
        margin-bottom: 0;
    }
    .login-form-author,
    .login-form-password{
    }

	/* Comment Form */
    #respond form p { 
        margin-bottom: 0; 
        }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url{
        float: left; width: 30%; margin-right: 3%;
        }
    .comment-form-url {
        width: 34%; margin-right: 0;
        }
    .form-allowed-tags,
    .form-submit { 
        clear: left; 
        }
    .form-submit {
        padding-top: 2em;
        }	
}