/* CONTENT ALIGNMENT */
.aligncenter, .alignnone, .alignright, .alignleft {
    display: block; margin: 1.6em auto; clear: both;
	}
.wp-caption {
	color:#555;
	}
.wp-caption img {
	border: 0 none; height: auto; margin: 0; padding: 0;
	}
.wp-caption-text {
    font-size: 14px; margin: 0; padding: .6em .1em 0; color: #C0C0C0;
	}
.wp-caption.aligncenter { 
	text-align: center; 
	}
/* TABLETS */
@media screen and (min-width: 768px) {
	.alignnone {
		margin: 3em 0; 
		}
	.aligncenter {
		margin: 2.2em auto; 
		}
	.alignleft,
	.alignright {
		max-width: 50%; 
		}
	.alignright {
		float:right; margin: .4em 0 1em 2em;
		}
	.alignleft {
		float: left; margin: .4em 2em 1em 0;
		}
}

/* FORM ERROR */
.formError {
	color: red;
	font-style: italic;
}