<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <meta name="description" content="BookCard - Responsive HTML5 vCard Template">
    <meta name="keywords" content="vcard, html5, portfolio, intellisense">
    <meta name="author" content="Intellisense">

    <title>Intellisense Portfolio</title>

    <!-- FAV and TOUCH ICONS -->
    <link rel="shortcut icon" th:href="@{/images/ico/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{images/ico/apple-touch-icon.png}"/>

    <!-- SCRIPTS -->
    <script type="text/javascript" th:src="@{js/modernizr.js}"></script>
    <!--[if lte IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/selectivizr-min.js}"></script>
    <![endif]-->

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Nixie+One|Raleway:200,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tulpen+One|Sacramento' rel='stylesheet' type='text/css'>

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" media="print" th:href="@{css/print.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/animate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/book.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/jquery.fancybox-1.3.4.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">

    <link class="cover-skin" rel="stylesheet" type="text/css" th:href="@{css/skins/cover/standart.css}">
    <link class="base-skin" rel="stylesheet" type="text/css" th:href="@{css/skins/base/clean.css}">
    <link class="paper-bg-skin" rel="stylesheet" type="text/css" th:href="@{css/skins/paper-bg/cream-dust.css}">
    <link class="body-bg-skin" rel="stylesheet" type="text/css" th:href="@{css/skins/body-bg/wood.css}">
</head>

<body>

    <!--- ******************* MAIN ***************** -->
    <section class="main">

        <!-- .rm-container -->
        <div id="rm-container" class="rm-container rm-closed">

            <!-- HEADER -->
            <header id="header">

                <!-- NAV MENU -->
                <nav>
                    <ul>
                        <li><a href="#/home"></a> </li>
                        <li><a href="#/resume"></a> </li>
                        <li><a href="#/portfolio"></a> </li>
                        <li><a href="#/contact"></a> </li>

                    </ul>
                </nav>
                <!-- NAV MENU -->

            </header>
            <!-- HEADER -->

            <!-- .rm-wrapper -->
            <div class="rm-wrapper">



                <!-- .rm-cover -->
                <div class="rm-cover">


                    <!-- COVER PAGE -->
                    <div id="home" class="rm-front page">

                        <!-- .antiscroll-wrap -->
                        <div class="antiscroll-wrap">
                            <!-- .antiscroll-inner -->
                            <div class="antiscroll-inner">



                                <!-- COVER IMAGE -->
                                <div class="cover">

                                    <!-- cover-image-holder -->
                                    <div class="cover-image-holder">
                                        <img src="images/site/cover.jpg" alt="cover-image">
                                    </div>
                                    <!-- cover-image-holder -->

                                    <!-- title -->
                                    <h1>INTELLISENSE</h1>
                                    <!-- title -->

                                    <!-- slogan -->
                                    <h2>Freelance WEB Developer & writer</h2>
                                    <!-- slogan -->

                                    <!-- extra titles -->
                                    <h3><span>I AM FROM</span> EARTH</h3>
                                    <h3><span>I DEVELOP</span> Web Applications</h3>
                                    <h3><span>FREELANCE</span> Available</h3>
                                    <!-- extra titles --

                                    <!-- open link -->
                                    <a href="#/resume" class="rm-button-open ribbon">
                                        <span class="ribbon-stitches-top"></span>
                                        <strong class="ribbon-content">OPEN</strong>
                                        <span class="ribbon-stitches-bottom"></span>
                                    </a>
                                    <!-- open link -->


                                    <!-- latest-from-blog -->
                                    <div class="latest-from-blog">
                                        <h3>Latest From The Blog
                                            <a class="button2" href="blog.html">All Posts</a></h3>
                                        <div class="blog-bar">
                                            <h2><a href="/blog-single">Learn Code - HTML</a></h2>
                                        </div>
                                    </div>
                                    <!-- latest-from-blog -->

                                </div>
                                <!-- COVER IMAGE -->




                            </div>
                            <!-- .antiscroll-inner -->
                        </div>
                        <!-- .antiscroll-wrap -->

                    </div>
                    <!-- COVER PAGE -->




                    <!-- RESUME PAGE -->
                    <div id="resume" class="rm-back page">

                        <!-- .antiscroll-wrap -->
                        <div class="antiscroll-wrap">
                            <!-- .antiscroll-inner -->
                            <div class="antiscroll-inner">

                                <!-- CONTENT -->
                                <div class="content">


                                    <h2><span>RESUME</span></h2>

                                    <h4 class="about-text">I am a <span class="label">theoretical physicist</span> developed the general theory of relativity, effecting a revolution in physics.</h4>

                                    <h3><span>EMPLOYMENT</span></h3>

                                    <!-- EMPLOYMENT -->
                                    <div class="history-group">


                                        <!-- .history-unit -->
                                        <div class="history-unit">

                                            <h4 class="work-time">since 2019</h4>

                                            <div class="work-desc">
                                                <h4>Lead Software Engineer</h4>
                                                <h5>IntellisenseHUB</h5>
                                                <p>Worked on so many projects for best clients around the world and i get so many experiences based on my job.</p>
                                            </div>

                                        </div>
                                        <!-- .history-unit -->

                                        <!-- .history-unit -->
                                        <div class="history-unit">

                                            <h4 class="work-time">2018 - 2019</h4>

                                            <div class="work-desc">

                                                <h4>Backend Developer (Intern)</h4>
                                                <h5>3Line Card Management Limited</h5>
                                                <p>Worked in so many projects for best clients around the world.</p>

                                            </div>

                                        </div>
                                        <!-- .history-unit -->

                                        <!-- .history-unit -->
                                        <div class="history-unit">

                                            <h4 class="work-time">2016 - 2017</h4>

                                            <div class="work-desc">

                                                <h4>Web Developer</h4>
                                                <h5>Creative Agency</h5>
                                                <p>Worked in so many projects for best clients around the world.</p>

                                            </div>

                                        </div>
                                        <!-- .history-unit -->


                                    </div>
                                    <!-- EMPLOYMENT -->



                                    <h3><span>EDUCATION</span></h3>

                                    <!-- EDUCATION -->
                                    <div class="history-group">


                                        <!-- .history-unit -->
                                        <div class="history-unit">

                                            <h4 class="work-time">2014 - 2019</h4>

                                            <div class="work-desc">

                                                <h4>Bsc Computer Science</h4>
                                                <h5>Obafemi Awolowo Unuversity</h5>
                                                <p>Studied Bsc. in OAU on Computer Science.</p>

                                            </div>

                                        </div>
                                        <!-- .history-unit -->


                                    </div>
                                    <!-- EDUCATION -->



                                    <!-- DOWNLOAD BUTTON -->
                                    <div class="launch">
                                        <a href="#" class="btn">DOWNLOAD CV</a>
                                    </div>
                                    <!-- DOWNLOAD BUTTON -->



                                    <h3><span>DEVELOPMENT SKILLS</span></h3>

                                    <!-- DEV SKILLS -->
                                    <div class="skill-group">

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>HTML5</h4>
                                            <div class="bar" data-percent="100">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>CSS3</h4>
                                            <div class="bar" data-percent="50">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>jQuery</h4>
                                            <div class="bar" data-percent="70">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>Spring Boot</h4>
                                            <div class="bar" data-percent="100">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>JAVA</h4>
                                            <div class="bar" data-percent="80">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                    </div>
                                    <!-- DEV SKILLS -->


                                    <h3><span>DESIGN SKILLS</span></h3>

                                    <!-- DESIGN SKILLS -->
                                    <div class="skill-group">

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>Fireworks</h4>
                                            <div class="bar" data-percent="90">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>Photoshop</h4>
                                            <div class="bar" data-percent="60">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                        <!-- .skill-unit -->
                                        <div class="skill-unit">
                                            <h4>Illustrator</h4>
                                            <div class="bar" data-percent="40">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                        <!-- .skill-unit -->

                                    </div>
                                    <!-- DESIGN SKILLS -->




                                    <h3><span>TESTIMONIALS</span></h3>


                                    <!-- TESTIMONIALS -->
                                    <div class="testo-group">

                                        <!-- Testimonial -->
                                        <div class="testo">
                                            <img src="images/site/testo-01.jpg" alt="someone">
                                            <div class="text">
                                                <h4>Albert Einstein <span>CEO / Gravity Inc.</span></h4>
                                                <p>He is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much.</p>
                                            </div>
                                        </div>
                                        <!-- Testimonial -->

                                        <!-- Testimonial -->
                                        <div class="testo">
                                            <img src="images/site/testo-02.jpg" alt="someone">
                                            <div class="text">
                                                <h4>Walter White <span>Chemist / Freelancer</span></h4>
                                                <p>He was a great co-worker and a friend. I would't be where i am without his support.</p>
                                            </div>
                                        </div>
                                        <!-- Testimonial -->

                                        <!-- Testimonial -->
                                        <div class="testo">
                                            <img src="images/site/testo-03.jpg" alt="someone">
                                            <div class="text">
                                                <h4>Dexter Morgan <span>Lab Geek / Miami Metro</span></h4>
                                                <p>He is ok.</p>
                                            </div>
                                        </div>
                                        <!-- Testimonial -->

                                    </div>
                                    <!-- TESTIMONIALS -->



                                    <h3><span>SERVICES</span></h3>

                                    <!-- SERVICES -->
                                    <div class="service-group">


                                        <!-- service -->
                                        <div class="service">
                                            <i class="icon-laptop"></i>
                                            <h4>Web Design</h4>
                                            <p>I design super cool websites. It is a long established fact that a reader will be distracted by the readable content. </p>
                                        </div>
                                        <!-- service -->

                                        <!-- service -->
                                        <div class="service">
                                            <i class="icon-tablet"></i>
                                            <h4>Mobile Development</h4>
                                            <p>I can develop iOS and Android apps. It is a long established fact that a reader will be distracted by the readable content. </p>
                                        </div>
                                        <!-- service -->

                                        <!-- service -->
                                        <div class="service">
                                            <i class="icon-globe"></i>
                                            <h4>Social Media</h4>
                                            <p>I am a social media expert. It is a long established fact that a reader will be distracted by the readable content. </p>
                                        </div>
                                        <!-- service -->


                                    </div>
                                    <!-- SERVICES -->


                                </div>
                                <!-- CONTENT -->

                            </div>
                            <!-- .antiscroll-inner -->
                        </div>
                        <!-- .antiscroll-wrap -->


                        <div class="rm-overlay"></div>

                    </div>
                    <!-- RESUME PAGE -->


                </div><!-- /rm-cover -->
                <!-- PORTFOLIO PAGE -->
                <div id="portfolio" class="rm-middle portfolio page">

                    <!-- .rm-inner -->
                    <div class="rm-inner">


                        <!-- .antiscroll-wrap -->
                        <div class="antiscroll-wrap">
                            <!-- .antiscroll-inner -->
                            <div class="antiscroll-inner">




                                <!-- CONTENT -->
                                <div class="content">


                                    <h2><span>PORTFOLIO</span></h2>


                                    <!--FILTERS-->
                                    <ul id="filters">
                                        <li class="current"><a href="#" data-filter="*">ALL</a></li>
                                        <li><a href="#" data-filter=".design">DESIGN</a></li>
                                        <li><a href="#" data-filter=".coding">CODING</a></li>
                                        <li><a href="#" data-filter=".logo">LOGO</a></li>
                                    </ul>
                                    <!--FILTERS-->



                                    <!-- PORTFOLIO -->
                                    <div class="portfolio-items">



                                        <!-- portfolio-item -->
                                        <div class="design hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/01.jpg" alt="portfolio-post">
                                                <div class="mask">
                                                    <a href="portfolio-item-01.html" class="ajax"></a>
                                                </div>
                                            </div>
                                            <h4>Happy Bear</h4>
                                            <p class="category">an illustration work</p>
                                        </div>
                                        <!-- portfolio-item -->


                                        <!-- portfolio-item -->
                                        <div class="coding hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/03.jpg" alt="portfolio-post">
                                                <div class="mask">
                                                    <a href="portfolio-item-02.html" class="ajax"></a>
                                                </div>
                                            </div>
                                            <h4>Old Guy Superman</h4>
                                            <p class="category">illustration by Dave Mottram</p>
                                        </div>
                                        <!-- portfolio-item -->


                                        <!-- portfolio-item - lightbox video -->
                                        <div class="coding video hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/07.jpg" alt="portfolio-post">
                                                <div class="mask">

                                                    <!-- lightbox - video -->
                                                    <a href="http://player.vimeo.com/video/37254322?badge=0&amp;color=ffffff" title="Paper by FiftyThree" data-lightbox-gallery="fancybox-item-03" class="lightbox iframe"></a>
                                                    <!-- lightbox - video -->

                                                </div>
                                            </div>
                                            <h4>Paper by FiftyThree</h4>
                                            <p class="category">Lightbox Video</p>
                                        </div>
                                        <!-- portfolio-item - lightbox video -->


                                        <!-- portfolio-item - lightbox image -->
                                        <div class="design image hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/06.jpg" alt="portfolio-post">
                                                <div class="mask">

                                                    <!-- lightbox - image -->
                                                    <a href="images/portfolio/lightbox-01.jpg" title="Animal with love" data-lightbox-gallery="fancybox-item-01" class="lightbox"></a>
                                                    <!-- lightbox - image -->

                                                </div>
                                            </div>
                                            <h4>Lightbox Image</h4>
                                            <p class="category">a booking mobile app</p>
                                        </div>
                                        <!-- portfolio-item - lightbox image -->


                                        <!-- portfolio-item - lightbox soundcloud -->
                                        <div class="coding audio hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/05.jpg" alt="portfolio-post">
                                                <div class="mask">

                                                    <!-- lightbox - soundcloud -->
                                                    <a href="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F207988&amp;" title="Soundcloud embed" data-lightbox-gallery="fancybox-item-04" class="lightbox iframe"></a>
                                                    <!-- lightbox - soundcloud -->

                                                </div>
                                            </div>
                                            <h4>Volume 2</h4>
                                            <p class="category">Lightbox Soundcloud</p>
                                        </div>
                                        <!-- portfolio-item - lightbox soundcloud -->


                                        <!-- portfolio-item - lightbox gallery -->
                                        <div class="logo image hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/02.jpg" alt="portfolio-post">
                                                <div class="mask">

                                                    <!-- lightbox - gallery -->
                                                    <a href="images/portfolio/lightbox-02.jpg" data-lightbox-gallery="fancybox-item-02" class="lightbox" title="Octopus is dangerous!"></a>
                                                    <a href="images/portfolio/lightbox-04.jpg" data-lightbox-gallery="fancybox-item-02" class="hidden lightbox"></a>
                                                    <a href="images/portfolio/lightbox-03.jpg" data-lightbox-gallery="fancybox-item-02" class="hidden lightbox" title="Dog have dreams"></a>
                                                    <!-- lightbox - gallery -->

                                                </div>
                                            </div>
                                            <h4>Lightbox Gallery</h4>
                                            <p class="category">Web Design, UI Design</p>
                                        </div>
                                        <!-- portfolio-item - lightbox gallery -->


                                        <!-- portfolio-item - custom url -->
                                        <div class="logo url hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/10.jpg" alt="portfolio-post">
                                                <div class="mask">
                                                    <a href="http://themeforest.net/user/pixelwars" target="_blank"></a>
                                                </div>
                                            </div>
                                            <h4>Character Sketches</h4>
                                            <p class="category">illustration / sketch</p>
                                        </div>
                                        <!-- portfolio-item - custom url -->


                                        <!-- portfolio-item -->
                                        <div class="coding hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/16.jpg" alt="portfolio-post">
                                                <div class="mask">
                                                    <a href="portfolio-item-03.html" class="ajax"></a>
                                                </div>
                                            </div>
                                            <h4>Cross Browser</h4>
                                            <p class="category">an illustration work</p>
                                        </div>
                                        <!-- portfolio-item -->


                                        <!-- portfolio-item -->
                                        <div class="design hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/14.jpg" alt="portfolio-post">
                                                <div class="mask">
                                                    <a href="portfolio-item-01.html" class="ajax"></a>
                                                </div>
                                            </div>
                                            <h4>404 Page</h4>
                                            <p class="category">an illustration work</p>
                                        </div>
                                        <!-- portfolio-item -->


                                        <!-- portfolio-item -->
                                        <div class="design hentry">
                                            <div class="media-box">
                                                <img src="images/portfolio/15.jpg" alt="portfolio-post">
                                                <div class="mask">
                                                    <a href="portfolio-item-02.html" class="ajax"></a>
                                                </div>
                                            </div>
                                            <h4>Rat</h4>
                                            <p class="category">an illustration work</p>
                                        </div>
                                        <!-- portfolio-item -->


                                        <!-- portfolio-item -->
                                        <div class="logo hentry x2">
                                            <div class="media-box">
                                                <img src="images/portfolio/11.jpg" alt="portfolio-post">
                                                <div class="mask">
                                                    <a href="portfolio-item-03.html" class="ajax"></a>
                                                </div>
                                            </div>
                                            <h4>Working Dudes</h4>
                                            <p class="category">an illustration work</p>
                                        </div>
                                        <!-- portfolio-item -->



                                    </div>
                                    <!-- PORTFOLIO -->






                                </div>
                                <!-- CONTENT -->



                            </div>
                            <!-- .antiscroll-inner -->
                        </div>
                        <!-- .antiscroll-wrap -->


                        <div class="rm-overlay"></div>

                    </div><!-- /rm-inner -->
                </div><!-- /rm-middle -->
                <!-- PORTFOLIO PAGE -->



                <!-- RIGHT SIDE -->
                <div class="rm-right">



                    <!-- .rm-front -->
                    <div class="rm-front">

                        <!-- BACK COVER IMAGE -->
                        <div class="cover">

                            <!-- cover-image-holder -->
                            <div class="cover-image-holder">
                                <img src="images/site/cover-2.jpg" alt="cover-image">
                            </div>
                            <!-- cover-image-holder -->

                        </div>
                        <!-- BACK COVER IMAGE -->

                    </div>
                    <!-- .rm-front -->




                    <!-- CONTACT PAGE -->
                    <div id="contact" class="rm-back page">





                        <!-- .antiscroll-wrap -->
                        <div class="antiscroll-wrap">
                            <!-- .antiscroll-inner -->
                            <div class="antiscroll-inner">


                                <!-- CONTENT -->
                                <div class="content">


                                    <h2><span>CONTACT</span></h2>


                                    <!--<h3>Where am I in this world?</h3>
                                    <div class="map">

                                            <iframe src="https://maps.google.com/maps?source=s_q&amp;f=q&amp;hl=en&amp;geocode=&amp;q=little+italy&amp;aq=&amp;sll=36.558188,-86.709595&amp;sspn=3.878053,8.453979&amp;ie=UTF8&amp;hq=&amp;hnear=Little+Italy,+New+York&amp;t=p&amp;ll=40.84706,-73.125&amp;spn=6.647611,26.367188&amp;z=5&amp;output=embed"></iframe>

                                    </div>-->


                                    <p class="center">Please feel free to contact me about anything.</p>

                                    <h3><span>LET'S SOCIALIZE</span></h3>

                                    <!-- SOCIAL -->
                                    <ul class="social">
                                        <li><a class="facebook" href="#"></a></li>
                                        <li><a class="twitter" href="#"></a></li>
                                        <li><a class="linkedin" href="#"></a></li>
                                        <li><a class="google" href="#"></a></li>
                                        <li><a class="pinterest" href="#"></a></li>
                                        <li><a class="github" href="#"></a></li>
                                        <li><a class="behance" href="#"></a></li>
                                        <li><a class="dribble" href="#"></a></li>
                                        <!--<li><a class="instagram" href="#"></a></li>
                                        <li><a class="lastfm" href="#"></a></li>
                                        <li><a class="rss" href="#"></a></li>
                                        <li><a class="vimeo" href="#"></a></li>
                                        <li><a class="forrst" href="#"></a></li>
                                        <li><a class="skype" href="#"></a></li>
                                        <li><a class="picassa" href="#"></a></li>
                                        <li><a class="youtube" href="#"></a></li>
                                        <li><a class="flickr" href="#"></a></li>
                                        <li><a class="tumblr" href="#"></a></li>
                                        <li><a class="blogger" href="#"></a></li>
                                        <li><a class="delicious" href="#"></a></li>
                                        <li><a class="digg" href="#"></a></li>
                                        <li><a class="friendfeed" href="#"></a></li>
                                        <li><a class="wordpress" href="#"></a></li>-->
                                    </ul>
                                    <!-- SOCIAL -->


                                    <h3><span>DROP ME A LINE!</span></h3>

                                    <!-- .contact-form -->
                                    <div class="contact-form">


                                        <!-- LETTER -->
                                        <div class="letter cf">

                                            <div class="stamp">
                                                <img src="images/site/stamp-image.png" alt="stamp">
                                            </div>

                                            <div class="letter-info">
                                                <h4>Intellisense</h4>
                                                <p><a href="#"><i>oyeknamiakandeworld@gmail.com</i></a></p>
                                                <p> - Planet Earth</p>
                                            </div>

                                        </div>
                                        <!-- LETTER -->


                                        <form id="contact-form" action="#" method="post">

                                            <!-- enter your e-mail address here -->
                                            <input type="hidden" id="to" name="to" value="oyeknamiakandeworld@gmail.com">

                                            <p>
                                                <label for="name">Name</label>
                                                <input type="text" name="name" id="name" class="required">
                                            </p>

                                            <p>
                                                <label for="email">Email</label>
                                                <input type="text" name="email" id="email" class="required email">
                                            </p>

                                            <p>
                                                <label for="subject">Subject</label>
                                                <input type="text" name="subject" id="subject" class="required">
                                            </p>

                                            <p>
                                                <label for="message">Message</label>
                                                <textarea name="message" id="message" class="required"></textarea>
                                            </p>

                                            <p>
                                                <img class="ajax-loader" src="images/bckg/loader_light.gif" alt="Sending ...">
                                                <input type="submit" class="btn submit" value="SEND">
                                            </p>

                                        </form>

                                    </div>
                                    <!-- .contact-form -->

                                </div>
                                <!-- CONTENT -->




                            </div>
                            <!-- .antiscroll-inner -->
                        </div>
                        <!-- .antiscroll-wrap -->


                        <!-- close link -->
                        <a class="rm-close"><span></span></a>
                        <!-- close link -->


                    </div><!-- /rm-back -->
                    <!-- CONTACT PAGE -->



                </div><!-- /rm-right -->
                <!-- RIGHT SIDE -->




            </div><!-- /rm-wrapper -->

        </div><!-- /rm-container -->

    </section>
    <!-- ************************ MAIN -->




    <!-- ************************ PORTFOLIO OVERLAY -->
    <div class="p-overlay">

    </div>
    <!-- ************************ PORTFOLIO OVERLAY -->

    <!-- ************************ PORTFOLIO OVERLAY -->
    <div class="p-overlay">

    </div>
    <!-- ************************ PORTFOLIO OVERLAY -->



    <!-- ************************ AJAX LOADER -->
    <div class="loader"></div>
    <!-- ************************ AJAX LOADER -->


    <!-- ************************ ALERT -->
    <div class="alert"></div>
    <!-- ************************ ALERT -->


    <!-- SCRIPTS -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="../../ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
    <script th:src="@{js/jquery.address-1.5.min.js}"></script>
    <script th:src="@{js/antiscroll.js}"></script>
    <script th:src="@{js/jquery.fittext.js}"></script>
    <script th:src="@{js/jquery.imagesloaded.min.js}"></script>
    <script th:src="@{js/jquery.isotope.min.js}"></script>
    <script th:src="@{js/jquery.fitvids.js}"></script>
    <script th:src="@{js/jquery.validate.min.js}"></script>
    <script th:src="@{js/jquery.fancybox-1.3.4.pack.js}"></script>
    <script th:src="@{js/send-mail.js}"></script>
    <script th:src="@{js/twitterFetcher_v10_min.js}"></script>
    <script th:src="@{js/main.js}"></script>
</body>
</html>